section {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
}
div {
   width: 150px;
   height: 150px;
   background-color: lightgreen;
   color: white;
   margin: 8%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: transform 1s;
}
.translate:hover {
   transform: translate(30px, 30px);
}
.translateX:hover {
   transform: translate(-30px);
}
.translateY:hover {
   transform: translateY(30px);
}
.rotate:hover {
   transform: rotate(45deg);
}
.scale:hover {
   transform: scale(2);
}
.skew:hover {
   transform: skew(15deg, 10deg);
}
